<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>todo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>209020CB1C7D8B8000C857D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>209020DF1C7D8B8100C857D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>209020EA1C7D8B8100C857D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
